%define module_name {{ name }}
%define module_dir /usr/share/puppet/modules/%{module_name}


Name:      puppet-module-{{author}}-%{module_name}
Version:   {{ version }}
Release:   {{ release }}
BuildArch: noarch
Summary:   {{ desc }}
License:   TBD
URL:       {{ project_url }}
Source0:   {{ source_url }}

Requires:  puppet-server

Provides: puppetmodule(%{module_name}) = %{version}

%description
{{ desc }}

%prep
%setup -q -n {{source_dir}}

%build

%install
mkdir -p %{buildroot}%{module_dir}
cp -pr * %{buildroot}%{module_dir}/

%files
%defattr (0644,puppet,puppet)
%{module_dir}

%changelog
